<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="SkillProof Main" patternSyntax="ECMAScript">
                    <match url="^skillproof\.me\.ke.*" />
                    <action type="None" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
